---
import Layout from '../layouts/Layout.astro';
import * as prismicH from '@prismicio/helpers';

import {getAboutPage} from '../prismic.js';

const about = await getAboutPage();
const {data} = about;
const aboutText = prismicH.asHTML(data.about_text);
---
<Layout title="About - Weigel's Custom Laser Engraving">
    <section class="container mx-auto max-w-7xl p-8 mb-8">
      <h1 class="prose text-5xl mb-4">About Us</h1>
      <div class="prose prose-strong:text-2xl prose-xl max-w-7xl" set:html={aboutText}></div>
      <div class="mt-5 bg-blue-900 p-8 text-white rounded-lg">
        <h2 class="font-bold text-2xl">Our Commitment</h2>
        <p>Weigel’s Laser Engraving will always be focused on three things.  A high-quality mark, at a fair price, with a quick turnaround.</p>  
        
        <p class="mt-4">While these three things will never change, we’re looking forward to continuing our growth and meeting the needs of new customers who present us with challenging and interesting needs.</p>
      </div>
    </section>
</Layout>