---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Weigel's - Form Submission Success">
    <section class="max-w-7xl mx-auto min-h-screen pt-8">
        <h2 class="text-5xl font-bold">Submission Succcessful</h2>
        <p>Thank you for contacting us. We will get back to you as soon as possible.</p>
    </section>
</Layout>