---

---
<div class="flex container mx-auto max-w-7xl">
    <a href="/"><img class="h-8 w-auto lg:block" src="logo.svg" alt="Weigels Custom Laser Engraving Logo"></a>
    <a href="/"><img class="hidden h-8 w-auto lg:block mx-2" src="text_logo.svg" alt="Weigels Custom Laser Engraving Logo"></a>
</div>