---
import { Image } from '@astrojs/image/components';
import { Debug } from 'astro/components';
const {image} = Astro.props;

const path = Astro.url.pathname;

let mainText = ''
let subText = '';
switch (path) {
  case '/about':
    mainText = 'Serving the Portland Area for 22 Years';
    subText = 'A family business'
    break;
  case '/services':
    mainText = 'Services'
    subText = 'Premium Laser Marking Services for Aluminum, Steel, and Plastic.'
    break;
  case '/contact':
    mainText = 'Contact Us';
    subText = 'What can we do for you?';
    break;
  default:
    mainText = 'Delivering a Quality Mark for 22 Years'
    subText = 'We work with Manufacturers, Fabricators, Installers, Inventors, and Machine Shops who need a better laser mark, shorter lead times, and cost-effective pricing.'  
}

---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="w-full h-full object-cover" src={image.url} alt="">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl tracking-tight text-white sm:text-5xl lg:text-5xl">{mainText}</h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">{subText}</p>
    <a href="/contact" class="inline-block p-6 bg-red-600 rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 mt-4 mb-3 sm:mb-0">Contact</a>
  </div>
</div>

  