---
import {getFrontPage, getMetaPage} from '../prismic.js';

import { Debug } from 'astro/components';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

const metaResults = await getMetaPage();
const meta = metaResults.data;

const frontPageResults = await getFrontPage();
const frontPage = frontPageResults.results;
const path = Astro.url.pathname.slice(1);
let metaDescription = path === '' ? meta['main'] : meta[path];

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content={metaDescription}>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body>
	<Navbar></Navbar>
    <Header
	    image={frontPage[0].data.header_image}
	></Header>

	<main class="">
  	    <slot />
    </main>

	<footer class="bg-gray-800 py-10 pl-12">
		<Footer />
	</footer>
</body>
</html>
