---
import {getFrontPage} from '../prismic.js';

import { Debug } from 'astro/components';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Navbar2 from '../components/Navbar2.astro';

const frontPageResults = await getFrontPage();
const frontPage = frontPageResults.results;

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body>
	<Navbar></Navbar>
    <Header
	    image={frontPage[0].data.header_image}
	></Header>

	<main class="">
  	    <slot />
    </main>
</body>
</html>
